# pandas exploration
In this assignment you will select a data set and do some munging and analysis of it using `pandas`, Jupyter Notebooks, and associated Python-centric data science tools.

## Set up environment

The following lines ensure that `numpy` and `pandas` are installed in the notebook environment.  Depending on your system, this may not be necessary and may be removed.

In [1]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.11/site-packages (1.26.4)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/shaw/.local/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/shaw/.local/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

Import the core data science libraries:

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

## Import the raw data
In this section, you will import the raw data into a `pandas` DataFrame.

- Because the two datasets are larger than 100 MiB, the links directing to the corresponding Google Drive locations are:
    1. [data_2021.csv]()
    2. [data_2019.csv]()

In [3]:
df_2021 = pd.read_csv('data/data_2021.csv')
df_2021.head()

,ADMYR,CASEID,STFIPS,EDUC,MARSTAT,SERVICES,DETCRIM,NOPRIOR,PSOURCE,ARRESTS,...,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,DIVISION,REGION,IDU,ALCDRUG,CBSA2020
0,2021,1284929,2,4,2,5,-9,1,1,0,...,0,0,0,0,0,9,4,0,3,11260
1,2021,1199988,2,2,1,5,3,0,7,0,...,0,0,0,0,1,9,4,0,2,-9
2,2021,1179533,2,4,1,7,-9,0,1,0,...,0,0,0,0,0,9,4,0,3,21820
3,2021,1146520,2,2,2,7,-9,1,1,0,...,0,0,0,0,0,9,4,0,2,11260
4,2021,1213798,2,2,1,7,-9,5,1,0,...,0,0,0,0,0,9,4,1,2,11260

In [4]:
df_2019 = pd.read_csv('data/data_2019.csv')
df_2019.head()

,ADMYR,CASEID,STFIPS,CBSA2010,EDUC,MARSTAT,SERVICES,DETCRIM,NOPRIOR,PSOURCE,...,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG,DIVISION,REGION,IDU,ALCDRUG
0,2019,1666221,2,27940,3,1,4,-9,0,3,...,0,0,0,0,0,0,9,4,0,3
1,2019,1570498,2,-9,3,1,7,-9,0,6,...,0,0,0,0,0,0,9,4,0,3
2,2019,1547352,2,27940,3,1,4,-9,3,2,...,0,0,0,0,0,0,9,4,0,1
3,2019,1510020,2,-9,3,1,7,-9,0,3,...,0,0,0,0,0,0,9,4,1,2
4,2019,1585912,2,-9,3,4,7,-9,1,1,...,0,0,0,0,0,0,9,4,0,3

## Data inspection
In this section, you will show enough of your data for a viewer to get a general sense of how the data is structured and any unique features of it.  Complete each of the indicated tasks in a Code cell, making sure to include a Markdown cell above each Code cell that explains what is being shown by the code.  
- Show 5 rows, selected at random, from the data set.
- Show each of the column names and their data types.
- Show any unique features of your chosen data set.

Feel free to add as many additional cells as you need to help explain the raw data.

In [5]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 1000)

- Show 5 rows, selected at random, from the data set of 2021

In [6]:
print(df_2021.sample(5))

        ADMYR   CASEID  STFIPS  EDUC  MARSTAT  SERVICES  DETCRIM  NOPRIOR  PSOURCE  ARRESTS  EMPLOY  METHUSE  PSYPROB  PREG  GENDER  VET  LIVARAG  DAYWAIT  DSMCRIT  AGE  RACE  ETHNIC  DETNLF  PRIMINC  SUB1  SUB2  SUB3  ROUTE1  ROUTE2  ROUTE3  FREQ1  FREQ2  FREQ3  FRSTUSE1  FRSTUSE2  FRSTUSE3  HLTHINS  PRIMPAY  FREQ_ATND_SELF_HELP  ALCFLG  COKEFLG  MARFLG  HERFLG  METHFLG  OPSYNFLG  PCPFLG  HALLFLG  MTHAMFLG  AMPHFLG  STIMFLG  BENZFLG  TRNQFLG  BARBFLG  SEDHPFLG  INHFLG  OTCFLG  OTHERFLG  DIVISION  REGION  IDU  ALCDRUG  CBSA2020
734590   2021  1031319      24    -9       -9         8       -9        1       -9       -9      -9        1        2    -9       1   -9       -9       -9        5    6     5      -9      -9       -9    -9     1     1      -9      -9      -9     -9     -9     -9        -9        -9        -9       -9       -9                   -9       0        0       0       0        0         0       0        0         0        0        0        0        0        0         0       0       0         0         5       3   -9        0        -9
448928   2021  1067383      12     1        1         7       -9        0        1        0       4        2        2    -9       1    2        2       -9       -9    1     4       4       2        4     1     1    -9      -9      -9      -9     -9     -9     -9        -9        -9        -9        2        4                    1       0        0       0       0        0         0       0        0         0        0        0        0        0        0         0       0       0         0         5       3   -9        0        -9
108573   2021  1368527       4    -9        1         7       -9        2       -9       -9      -9        2        2    -9       1   -9       -9       -9        8   10    -9      -9      -9        4    -9     1     1      -9      -9      -9     -9     -9     -9        -9        -9        -9        2        4                   -9       0        0       0       0        0         0       0        0         0        0        0        0        0        0         0       0       0         0         8       4   -9        0        -9
637568   2021   590038      25     1        1         2       -9        5        1        0       4        1        2    -9       1    2        1        0       -9    7     7       1       5        5     5     7     1       4       5      -9      3      3     -9        -9        -9        -9        2       -9                    1       0        0       0       1        0         1       0        0         0        0        0        0        0        0         0       0       0         0         1       1    1        2     14460
275281   2021  1317128       6     4       -9         7       -9        1        1        0       2        1        2     2       2    2        3        0       -9   11     7       2      -9       -9     5     1    -9       4      -9      -9      1     -9     -9         6        -9        -9       -9       -9                    1       0        0       0       1        0         0       0        0         0        0        0        0        0        0         0       0       0         0         9       4    1        2     40140

- Show 5 rows, selected at random, from the data set of 2019

In [7]:
print(df_2019.sample(5))

         ADMYR   CASEID  STFIPS  CBSA2010  EDUC  MARSTAT  SERVICES  DETCRIM  NOPRIOR  PSOURCE  ARRESTS  EMPLOY  METHUSE  PSYPROB  PREG  GENDER  VET  LIVARAG  DAYWAIT  DSMCRIT  AGE  RACE  ETHNIC  DETNLF  PRIMINC  SUB1  SUB2  SUB3  ROUTE1  ROUTE2  ROUTE3  FREQ1  FREQ2  FREQ3  FRSTUSE1  FRSTUSE2  FRSTUSE3  HLTHINS  PRIMPAY  FREQ_ATND_SELF_HELP  ALCFLG  COKEFLG  MARFLG  HERFLG  METHFLG  OPSYNFLG  PCPFLG  HALLFLG  MTHAMFLG  AMPHFLG  STIMFLG  BENZFLG  TRNQFLG  BARBFLG  SEDHPFLG  INHFLG  OTCFLG  OTHERFLG  DIVISION  REGION  IDU  ALCDRUG
333875    2019  1563573       8     17820     5        1         2       -9        3        3        0       3        2        2    -9       1    2        1        0        2    5     5       4      -9        1    10     2     1       2       1      -9      2      2     -9         5         3        -9        4        1                    4       1        0       0       0        0         0       0        0         1        0        0        0        0        0         0       0       0         0         8       4    0        3
913334    2019  1427289      24     12580     2        2         4       -9        1        6        1       4        2        2    -9       1    2        3        0        8    6     5       4       5        2    13     9    -9       1       2      -9      3      2     -9         6         7        -9        2        4                    1       0        0       0       0        0         0       0        1         0        0        0        1        0        0         0       0       0         0         5       3    0        2
490584    2019  1135180      10        -9     3        1         2       -9       -9        2        0       3        2        2     2       2    2        3       -9        5    5     4       4      -9        5     3     5     1       2       3      -9      3      3     -9         4         4        -9        2        4                    1       0        1       0       1        0         0       0        0         0        0        0        0        0        0         0       0       0         0         5       3    0        2
1299525   2019   517544      34     37980     3        1         4       -9        3        6        0       4       -9        1     2       2    2        3        1        8    4     5       4       5        4     3     1     1       4      -9      -9      3     -9     -9         3        -9        -9        1        2                   -9       0        1       0       0        0         0       0        0         0        0        0        0        0        0         0       0       0         0         2       1    1        2
482402    2019  1220801      11     47900     3        1         7       -9        1        1        0       3        2        2    -9       1    2        1        0        5   11     4       4      -9        3     5     2     1       3       1      -9      3      2     -9         6         3        -9        2        4                   -9       1        0       0       1        0         0       0        0         0        0        0        0        0        0         0       0       0         0         5       3    0        3

- Show each of the column names and their data types for the data set of 2021

In [8]:
print(df_2021.dtypes)

ADMYR                  int64
CASEID                 int64
STFIPS                 int64
EDUC                   int64
MARSTAT                int64
SERVICES               int64
DETCRIM                int64
NOPRIOR                int64
PSOURCE                int64
ARRESTS                int64
EMPLOY                 int64
METHUSE                int64
PSYPROB                int64
PREG                   int64
GENDER                 int64
VET                    int64
LIVARAG                int64
DAYWAIT                int64
DSMCRIT                int64
AGE                    int64
RACE                   int64
ETHNIC                 int64
DETNLF                 int64
PRIMINC                int64
SUB1                   int64
SUB2                   int64
SUB3                   int64
ROUTE1                 int64
ROUTE2                 int64
ROUTE3                 int64
FREQ1                  int64
FREQ2                  int64
FREQ3                  int64
FRSTUSE1               int64
FRSTUSE2               int64
FRSTUSE3               int64
HLTHINS                int64
PRIMPAY                int64
FREQ_ATND_SELF_HELP    int64
ALCFLG                 int64
COKEFLG                int64
MARFLG                 int64
HERFLG                 int64
METHFLG                int64
OPSYNFLG               int64
PCPFLG                 int64
HALLFLG                int64
MTHAMFLG               int64
AMPHFLG                int64
STIMFLG                int64
BENZFLG                int64
TRNQFLG                int64
BARBFLG                int64
SEDHPFLG               int64
INHFLG                 int64
OTCFLG                 int64
OTHERFLG               int64
DIVISION               int64
REGION                 int64
IDU                    int64
ALCDRUG                int64
CBSA2020               int64
dtype: object

- Show each of the column names and their data types for the data set of 2019

In [9]:
display(df_2019.dtypes)

ADMYR                  int64
CASEID                 int64
STFIPS                 int64
CBSA2010               int64
EDUC                   int64
MARSTAT                int64
SERVICES               int64
DETCRIM                int64
NOPRIOR                int64
PSOURCE                int64
ARRESTS                int64
EMPLOY                 int64
METHUSE                int64
PSYPROB                int64
PREG                   int64
GENDER                 int64
VET                    int64
LIVARAG                int64
DAYWAIT                int64
DSMCRIT                int64
AGE                    int64
RACE                   int64
ETHNIC                 int64
DETNLF                 int64
PRIMINC                int64
SUB1                   int64
SUB2                   int64
SUB3                   int64
ROUTE1                 int64
ROUTE2                 int64
ROUTE3                 int64
FREQ1                  int64
FREQ2                  int64
FREQ3                  int64
FRSTUSE1               int64
FRSTUSE2               int64
FRSTUSE3               int64
HLTHINS                int64
PRIMPAY                int64
FREQ_ATND_SELF_HELP    int64
ALCFLG                 int64
COKEFLG                int64
MARFLG                 int64
HERFLG                 int64
METHFLG                int64
OPSYNFLG               int64
PCPFLG                 int64
HALLFLG                int64
MTHAMFLG               int64
AMPHFLG                int64
STIMFLG                int64
BENZFLG                int64
TRNQFLG                int64
BARBFLG                int64
SEDHPFLG               int64
INHFLG                 int64
OTCFLG                 int64
OTHERFLG               int64
DIVISION               int64
REGION                 int64
IDU                    int64
ALCDRUG                int64
dtype: object

- Show unique features of the data set of 2021
    - All columns in the 2021 dataset are of the integer data type, with all 1,482,543 entries containing non-null values.

In [10]:
df_2021.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1482543 entries, 0 to 1482542
Data columns (total 62 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ADMYR                1482543 non-null  int64
 1   CASEID               1482543 non-null  int64
 2   STFIPS               1482543 non-null  int64
 3   EDUC                 1482543 non-null  int64
 4   MARSTAT              1482543 non-null  int64
 5   SERVICES             1482543 non-null  int64
 6   DETCRIM              1482543 non-null  int64
 7   NOPRIOR              1482543 non-null  int64
 8   PSOURCE              1482543 non-null  int64
 9   ARRESTS              1482543 non-null  int64
 10  EMPLOY               1482543 non-null  int64
 11  METHUSE              1482543 non-null  int64
 12  PSYPROB              1482543 non-null  int64
 13  PREG                 1482543 non-null  int64
 14  GENDER               1482543 non-null  int64
 15  VET                  1482543 non-null  int64
 16  LIVARAG              1482543 non-null  int64
 17  DAYWAIT              1482543 non-null  int64
 18  DSMCRIT              1482543 non-null  int64
 19  AGE                  1482543 non-null  int64
 20  RACE                 1482543 non-null  int64
 21  ETHNIC               1482543 non-null  int64
 22  DETNLF               1482543 non-null  int64
 23  PRIMINC              1482543 non-null  int64
 24  SUB1                 1482543 non-null  int64
 25  SUB2                 1482543 non-null  int64
 26  SUB3                 1482543 non-null  int64
 27  ROUTE1               1482543 non-null  int64
 28  ROUTE2               1482543 non-null  int64
 29  ROUTE3               1482543 non-null  int64
 30  FREQ1                1482543 non-null  int64
 31  FREQ2                1482543 non-null  int64
 32  FREQ3                1482543 non-null  int64
 33  FRSTUSE1             1482543 non-null  int64
 34  FRSTUSE2             1482543 non-null  int64
 35  FRSTUSE3             1482543 non-null  int64
 36  HLTHINS              1482543 non-null  int64
 37  PRIMPAY              1482543 non-null  int64
 38  FREQ_ATND_SELF_HELP  1482543 non-null  int64
 39  ALCFLG               1482543 non-null  int64
 40  COKEFLG              1482543 non-null  int64
 41  MARFLG               1482543 non-null  int64
 42  HERFLG               1482543 non-null  int64
 43  METHFLG              1482543 non-null  int64
 44  OPSYNFLG             1482543 non-null  int64
 45  PCPFLG               1482543 non-null  int64
 46  HALLFLG              1482543 non-null  int64
 47  MTHAMFLG             1482543 non-null  int64
 48  AMPHFLG              1482543 non-null  int64
 49  STIMFLG              1482543 non-null  int64
 50  BENZFLG              1482543 non-null  int64
 51  TRNQFLG              1482543 non-null  int64
 52  BARBFLG              1482543 non-null  int64
 53  SEDHPFLG             1482543 non-null  int64
 54  INHFLG               1482543 non-null  int64
 55  OTCFLG               1482543 non-null  int64
 56  OTHERFLG             1482543 non-null  int64
 57  DIVISION             1482543 non-null  int64
 58  REGION               1482543 non-null  int64
 59  IDU                  1482543 non-null  int64
 60  ALCDRUG              1482543 non-null  int64
 61  CBSA2020             1482543 non-null  int64
dtypes: int64(62)
memory usage: 701.3 MB

- Show unique features of the data set of 2019
    - All columns in the 2021 dataset are of the integer data type, with all 1,889,755 entries containing non-null values.

In [11]:
df_2019.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889755 entries, 0 to 1889754
Data columns (total 62 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ADMYR                1889755 non-null  int64
 1   CASEID               1889755 non-null  int64
 2   STFIPS               1889755 non-null  int64
 3   CBSA2010             1889755 non-null  int64
 4   EDUC                 1889755 non-null  int64
 5   MARSTAT              1889755 non-null  int64
 6   SERVICES             1889755 non-null  int64
 7   DETCRIM              1889755 non-null  int64
 8   NOPRIOR              1889755 non-null  int64
 9   PSOURCE              1889755 non-null  int64
 10  ARRESTS              1889755 non-null  int64
 11  EMPLOY               1889755 non-null  int64
 12  METHUSE              1889755 non-null  int64
 13  PSYPROB              1889755 non-null  int64
 14  PREG                 1889755 non-null  int64
 15  GENDER               1889755 non-null  int64
 16  VET                  1889755 non-null  int64
 17  LIVARAG              1889755 non-null  int64
 18  DAYWAIT              1889755 non-null  int64
 19  DSMCRIT              1889755 non-null  int64
 20  AGE                  1889755 non-null  int64
 21  RACE                 1889755 non-null  int64
 22  ETHNIC               1889755 non-null  int64
 23  DETNLF               1889755 non-null  int64
 24  PRIMINC              1889755 non-null  int64
 25  SUB1                 1889755 non-null  int64
 26  SUB2                 1889755 non-null  int64
 27  SUB3                 1889755 non-null  int64
 28  ROUTE1               1889755 non-null  int64
 29  ROUTE2               1889755 non-null  int64
 30  ROUTE3               1889755 non-null  int64
 31  FREQ1                1889755 non-null  int64
 32  FREQ2                1889755 non-null  int64
 33  FREQ3                1889755 non-null  int64
 34  FRSTUSE1             1889755 non-null  int64
 35  FRSTUSE2             1889755 non-null  int64
 36  FRSTUSE3             1889755 non-null  int64
 37  HLTHINS              1889755 non-null  int64
 38  PRIMPAY              1889755 non-null  int64
 39  FREQ_ATND_SELF_HELP  1889755 non-null  int64
 40  ALCFLG               1889755 non-null  int64
 41  COKEFLG              1889755 non-null  int64
 42  MARFLG               1889755 non-null  int64
 43  HERFLG               1889755 non-null  int64
 44  METHFLG              1889755 non-null  int64
 45  OPSYNFLG             1889755 non-null  int64
 46  PCPFLG               1889755 non-null  int64
 47  HALLFLG              1889755 non-null  int64
 48  MTHAMFLG             1889755 non-null  int64
 49  AMPHFLG              1889755 non-null  int64
 50  STIMFLG              1889755 non-null  int64
 51  BENZFLG              1889755 non-null  int64
 52  TRNQFLG              1889755 non-null  int64
 53  BARBFLG              1889755 non-null  int64
 54  SEDHPFLG             1889755 non-null  int64
 55  INHFLG               1889755 non-null  int64
 56  OTCFLG               1889755 non-null  int64
 57  OTHERFLG             1889755 non-null  int64
 58  DIVISION             1889755 non-null  int64
 59  REGION               1889755 non-null  int64
 60  IDU                  1889755 non-null  int64
 61  ALCDRUG              1889755 non-null  int64
dtypes: int64(62)
memory usage: 893.9 MB

## Data munging
Place your **data munging** code and documentation within this section.  
- Keep each of your Code cells short and focused on a single task.  
- Include a Markdown cell above each code cell that describes what task the code within the code cell is performing.
- Make as many code cells as you need to complete the munging - a few have been created for you to start with.
- Display 5 sample rows of the modified data after each transformation so a viewer can see how the data has changed.

**Note**: If you believe that your data set does not require any munging, please explain in detail.  Create Markdown cells that explain your thinking and create Code cells that show any specific structures of the data you refer to in your explanation.

## Data analysis
Place your **data analysis** code and documentation within this section.
- Perform at least 5 different statistical or other analyses of different aspects of the data.
    - Your analyses must be specific and relevant to your chosen data set and show interesting aspects of it.
    - Include at least one analysis that includes grouping rows by a shared attribute and performing some kind of statistical analysis on each group.
    - Sort the data in at least 1 of your analyses, but sort on its own does not constitute an analysis on its own.
- Keep each of your Code cells short and focused on a single task.
- Include a Markdown cell above each Code cell that describes what task the code within the Code cell is performing.
- Make as many code cells as you need to complete the analysis - a few have been created for you to start with.

## Data visualization
In this section, you will create a few **visualizations** that show some of the insights you have gathered from this data.
- Create at least 5 different visualizations, where each visualization shows different insights into the data.
- Use at least 3 different visualization types (e.g. bar charts, line charts, stacked area charts, pie charts, etc)
- Create a Markdown cell and a Code cell for each, where you explain and show the visualizations, respectively.
- Create as many additional cells as you need to prepare the data for the visualizations.